{% extends 'default/index.html.twig' %}

{% block content %}
<div class="course-collection">
    <div class="course-single">
        <img src="{{ asset('img/fox-majestatic.jpeg') }}">
        <h3>Kurs informatyczny</h3>
        <p>TypeTogether is an independent type foundry committed to excellence in type design with a focus on editorial use. Known for the popular typefaces Adelle and Bree, TypeTogethe</p>
    </div><div class="course-single">
        <img src="{{ asset('img/fox-majestatic.jpeg') }}">
        <h3>Kurs informatycznysadsadsadsad</h3>
        <p>TypeTogether is an independent type foundry committed to excellence in type design with a focus on editorial use. Known for the popular typefaces Adelle and Bree, TypeTogethe</p>
    </div><div class="course-single">
        <img src="{{ asset('img/fox-majestatic.jpeg') }}">
        <h3>Kurs informatyczny</h3>
        <p>TypeTogether is an independent type foundry committed to excellence in type design with a focus on editorial use. Known for the popular typefaces Adelle and Bree, TypeTogethe</p>
    </div><div class="course-single">
        <img src="{{ asset('img/fox-majestatic.jpeg') }}">
        <h3>Kurs informatyczny</h3>
        <p>TypeTogether is an independent type foundry committed to excellence in type design with a focus on editorial use. Known for the popular typefaces Adelle and Bree, TypeTogethe</p>
    </div><div class="course-single">
        <img src="{{ asset('img/fox-majestatic.jpeg') }}">
        <h3>Kurs informatyczny</h3>
        <p>TypeTogether is an independent type foundry committed to excellence in type design with a focus on editorial use. Known for the popular typefaces Adelle and Bree, TypeTogethe</p>
    </div>
    <div class="course-single">
        <img src="{{ asset('img/fox-majestatic.jpeg') }}">
        <h3>Kurs informatyczny</h3>
        <p>TypeTogether is an independent type foundry committed to excellence in type design with a focus on editorial use. Known for the popular typefaces Adelle and Bree, TypeTogethe</p>
    </div>

</div>
{% endblock %}