{% extends 'default/index.html.twig' %}

{% block content %}
<div class="course-collection">
    <div class="course-single">
        <img src="{{ asset('img/fox-majestatic.jpeg') }}">
        <h3>Kurs informatyczny</h3>
        <p>TypeTogether is an independent type foundry committed to excellence in type design with a focus on editorial use. Known for the popular typefaces Adelle and Bree, TypeTogethe</p>
        <span class="course-tag"><p>Autor</p><p>Ilość lekcji</p></span>
        <button class="course-button">Zapisz mnie</button>
    </div>
    <div class="course-single">
        <img src="{{ asset('img/fox-majestatic.jpeg') }}">
        <h3>Kurs informatyczny</h3>
        <p>TypeTogether is an independent type foundry committed to excellence in type design with a focus on editorial use. Known for the popular typefaces Adelle and Bree, TypeTogethe</p>
        <span class="course-tag"><p>Autor</p><p>Ilość lekcji</p></span>
        <button class="course-button">Zapisz mnie</button>
    </div>
    <div class="course-single">
        <img src="{{ asset('img/fox-majestatic.jpeg') }}">
        <h3>Kurs informatyczny</h3>
        <p>TypeTogether is an independent type foundry committed to excellence in type design with a focus on editorial use. Known for the popular typefaces Adelle and Bree, TypeTogethe</p>
        <span class="course-tag"><p>Autor</p><p>Ilość lekcji</p></span>
        <button class="course-button">Zapisz mnie</button>
    </div>
    <div class="course-single">
        <img src="{{ asset('img/fox-majestatic.jpeg') }}">
        <h3>Kurs informatyczny</h3>
        <p>TypeTogether is an independent type foundry committed to excellence in type design with a focus on editorial use. Known for the popular typefaces Adelle and Bree, TypeTogethe</p>
        <span class="course-tag"><p>Autor</p><p>Ilość lekcji</p></span>
        <button class="course-button">Zapisz mnie</button>
    </div>
    <div class="course-single">
        <img src="{{ asset('img/fox-majestatic.jpeg') }}">
        <h3>Kurs informatyczny</h3>
        <p>TypeTogether is an independent type foundry committed to excellence in type design with a focus on editorial use. Known for the popular typefaces Adelle and Bree, TypeTogethe</p>
        <span class="course-tag"><p>Autor</p><p>Ilość lekcji</p></span>
        <button class="course-button">Zapisz mnie</button>
    </div>
    <div class="course-single">
        <img src="{{ asset('img/fox-majestatic.jpeg') }}">
        <h3>Kurs informatyczny</h3>
        <p>TypeTogether is an independent type foundry committed to excellence in type design with a focus on editorial use. Known for the popular typefaces Adelle and Bree, TypeTogethe</p>
        <span class="course-tag"><p>Autor</p><p>Ilość lekcji</p></span>
        <button class="course-button">Zapisz mnie</button>
    </div>


</div>
{% endblock %}